#header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(175, 175, 175);
    text-transform: uppercase;
    font-size: 50px;
    max-height: 2vh;
}

.grid-container {
    display: inline-grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    max-height: 120vh;
    max-height: 98vh;
}

.grid-item {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    max-width: 300px;
    max-height: 350px;
}

.cekbox {
    visibility: hidden;
}

input[type=checkbox]:checked+label {
    background-color: gray;
}

.gmbr_barang:hover{
    transform: scale(1.3);
    transition: .4s;
}

#btn_submit {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#struk{
    display: flex;
    justify-content: center;
    align-items: center;
}